@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
} */


:root {
    /* aqui se instalan las variables */

    /* color */

    --orange: #ef7f17;
    --grey: #D9D9D9;
    --green-light: #7eb341;
    --green-dark: #265118;
    --green-deep: #174308;

    --dark-solid: #1F1F1F;
    --light-solid: #FAFAFA;
    /* 
    --mode-dark-solid: #E2C0EE;
    --mode-light-solid: #FAFAFF; */

    /* texto */

    --font-base: Inter, sans-serif;
    --font-alternativa: Roboto, sans-serif;

    /*Tamaños de fuentes*/
    --font-42: 4.2rem;
    --font-36: 3.6rem;
    --font-32: 3.2rem;
    --font-30: 3rem;
    --font-28: 2.8rem;
    --font-24: 2.4rem;
    --font-20: 2rem;
    --font-18: 1.8rem;
    --font-16: 1.6rem;
    --font-14: 1.4rem;
    --font-12: 1.2rem;
    /*Espaciados*/
    --sp-128: 12.8rem;
    --sp-68: 6.8rem;
    --sp-48: 4.8rem;
    --sp-36: 3.6rem;
    --sp-30: 3rem;
    --sp-28: 2.8rem;
    --sp-24: 24rem;
    --sp-20: 2rem;
    --sp-16: 1.6rem;
    --sp-12: 1.2rem;
    --sp-8: 0.8rem;
}

/* Fin de variables */

/*  Normalizacion */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-base);
    font-size: 65.5%;
}

a {
    text-decoration: none;
    color: inherit
}

ul,
ol,
li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 100vw;
    margin: 0 auto;

}

/* fin de normalizacion */

/* Fuente */
body {
    font-family: var(--font-alternativa);
    font-weight: 400;
    font-style: normal;
    background-color: var(--light-solid);
}

header {

    background-color: var(--grey);
    padding: var(--sp-12);
    margin: auto;
    height: auto;
}

a {
    font-size: var(--font-18);
    color: var(--dark-solid);
}

h1 {
    font-family: var(--font-alternativa);
    font-size: var(--font-30);
    color:var(--dark-solid);
    background-color: rgb(217, 217, 217,80%);
    border-style: solid;
    border-color: #ef7f17;
    border-radius: 3em;
    /* padding-top: 1.2em; */
    padding: 0.3em 0em 0.3em 0em;
    margin: 1em 8em 1em 8em;
    text-align: center;
      
}

h2 {
    font-size: var(--font-24);
    padding-left: var(--font-12);
    padding-top: 2px;
    color: var(--dark-solid);
    border-style: solid;
    border-color: #ef7f17;
    border-radius: 25px;
}

h3 {
    font-size: var(--font-20);
    color: var(--dark-solid);
}

h4 {
    font-size: var(--font-16);
}

footer {
    background-color: var(--grey);
    /* padding: var(--sp-8); */
    height: auto;
}


.institucional,
.redes-sociales {
    display: flex;
    align-items: center;
    padding: var(--sp-20);
    gap: var(--sp-8);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: var(--sp-20);
    margin: 0px var(--font-42);
}

ul {
    display: flex;
    align-items: end;
    gap: var(--sp-20);
}

small {
    font-family: var(--font-alternativa);
    font-size: var(--font-12);
}

p {
    font-family: var(--font-alternativa);
    font-size: var(--font-14);
    font-weight: 400;
}

/* Inicio */
.carrusel{
    display: grid;
    /* grid-template-columns:repeat(4, 1fr) 1.7em repeat(2, 1fr) 1.7em repeat(4, 1fr);  */
    grid-template-columns:0.5fr 0.5fr 0.7fr 1fr 2em 1fr 1fr 2em 1fr 0.7fr 0.5fr 0.5fr;
    grid-template-rows: repeat(4, 0.3fr) ;
    padding: 4em 0em 2em 0em;  
}


 .banner{
    background-image: url(../img/fondo-baner-inicio.jpg);
    grid-column: 1/13;
    grid-row:1 /3;
   
 }
.carrusel-1,
.carrusel-2,
.carrusel-3,
.carrusel-4,
.carrusel-5 {
    border-radius: 2em;
    background-color: #d9d9d9;
    /* margin-bottom: 0.5em;    */
}
/* .carrusel-1,
.carrusel-2,
.carrusel-3,
.carrusel-4,
.carrusel-5, img{

min-height:min-content;
max-height:min-content;

} */

.carrusel-1{
   
    grid-column: 3/4;
    grid-row: 3/6;
    margin-right: 0.7em;
    margin-top: 6em;
}


.carrusel-2{
  
    grid-column: 4/5;
    grid-row: 3/6;
    margin-left: 0.7em;
    margin-top: 2em;
   
}
.arrow-left{
    grid-column:5/6 ;
    grid-row: 4/5;
   
}
.carrusel-3{ 
    grid-column: 6/8;
    grid-row: 2/6;
    margin-top: 3em;
}

.arrow-right{
    grid-column:8/9;
    grid-row: 4/5;
  
}
.carrusel-4{
   
    grid-column: 9/10;
    grid-row: 3/6;
    margin-right: 0.7em;
    margin-top: 2em;
}

.carrusel-5{
    grid-column: 10/11;
    grid-row: 3/6;
    margin-left: 0.7em;
    margin-top: 6em;
    
}


/* Fin de Inicio */

/* Productos */
.card-productos {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 4em repeat(2, 0.2fr);
    gap: 2em;
    margin: 20px 30px;
}


.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6,
.card-7,
.card-8,
.card-9 {
    border-radius: 20PX;
    background-color: #D9D9D9;
    padding: 1em;
}

.titulo-productos {
    grid-column: 1/9;
    grid-row: 1/2;
}

.card-1 {
    grid-column: 1/3;
    grid-row: 2;
    padding-top: 2em;
}

.card-2 {
    grid-column: 3/5;
    grid-row: 2;
    padding-top: 2em;
}

.card-3 {
    grid-column: 5/7;
    grid-row: 2;
}

.card-4 {
    grid-column: 7/9;
    grid-row: 2;
    padding-top: 3em;
}

.card-5 {
    grid-column: 1/3;
    grid-row: 3;
    padding-top: 3.5em;
}

.card-6 {
    grid-column: 3/5;
    grid-row: 3;
    padding-top: 3em;
}

.card-7 {
    grid-column: 5/7;
    grid-row: 3;
}

.card-8 {
    grid-column: 7/9;
    grid-row: 3;
    padding-top: 3em;
}

.card-9 {
    grid-column: 9/13;
    grid-row: 1/4;
    padding: 1.5em;

}

.card-9 button {
    width: 100%;
    height: 2.5em;
    margin-top: 1em;
    border: solid;
    border-color: rgb(239, 127, 23, 60%);
    border-radius: 1em;
    background-color: #ef7f17;
    font-family: var(--font-alternativa);
    font-size: var(--font-16);
    color: var(--light-solid);
}

/* Fin de Productos */

/* Contacto */
.form-contacto {

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 4em 2em repeat(3, 0.2fr) 5em;
    gap: 2em;
    margin: 20px 60px;
}

.titulo-contacto {
    grid-column: 1/13;
    grid-row: 1;
}

.titulo-datos {
    grid-column: 1/7;
    grid-row: 2;

}

.input-form1 {
    grid-column: 1/7;
    grid-row: 3;
}

.input-form2 {
    grid-column: 1/7;
    grid-row: 4;
}

.input-form3 {
    grid-column: 1/7;
    grid-row: 5;
}

form input {
    width: 40vw;
    height: 4em;
    border-color: rgb(239, 127, 23, 60%);
    border-radius: 2em;
    margin-top: 0.3em;
}

label {
    font-family: var(--font-alternativa);
    font-size: var(--font-14);

}

.titulo-textarea {
    grid-column: 7/13;
    grid-row: 2;
}

#textarea {
    grid-column: 7/13;
    grid-row: 3/6;
    border-color: rgb(239, 127, 23, 60%);
    border-radius: 1em;
}

::placeholder {
    font-family: monospace;
    font-size: var(--font-18);
    padding: 0.5em;
}

.boton-form {
    grid-column: 4/10;
    grid-row: 6;
    border: #ef7f17;
    border-radius: 1em;
    background-color: #ef7f17;
    font-family: var(--font-alternativa);
    font-size: var(--font-18);
    font-weight: 500;
    color: var(--light-solid);

}

/* Fin contacto */

/* Carrito de compras */
.carrito {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 4em 2em repeat(6, 0.5fr);
    margin: 20px 60px;
    gap: 2em;
    height: 33vw;
}

.titulo-carrito {
    grid-column: 1/13;
    grid-row: 1;
}

.subtitulo-1 {
    grid-column: 1/2;
    grid-row: 2;
}

.subtitulo-2 {
    grid-column: 2/8;
    grid-row: 2;
}

.subtitulo-3 {
    grid-column: 8/13;
    grid-row: 2;
}

input {
    border: solid;
    border-color: #ef7f17;
    border-radius: 0.5em;
    width: 3em;
    height: 3em;
    margin-left: 2em;
}

.carrito label {
    display: none;
}

.cancel {
    margin-right: 2em;
}

.articulo-1 {
    grid-column: 1/8;
    grid-row: 3/5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-color: #ef7f17;
    border-radius: 2em;
}

.articulo-2 {
    grid-column: 1/8;
    grid-row: 5/7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-color: #ef7f17;
    border-radius: 2em;
}

.articulo-3 {
    grid-column: 1/8;
    grid-row: 7/9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-color: #ef7f17;
    border-radius: 2em;
}

samp {
    grid-column: 8/13;
    grid-row: 3/6;
    border-style: solid;
    border-color: #ef7f17;
    border-radius: 2em;
    padding: 4em;
}

samp p {
    font-size: var(--font-16);
    font-weight: 600;
}

.resumen-1 {
    grid-column: 8/13;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2em;
}

.resumen-2 {
    grid-column: 8/13;
    grid-row: 4/5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2em;
}

.resumen-3 {
    grid-column: 8/13;
    grid-row: 5/6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2em;
}

.total-resumen {
    grid-column: 8/13;
    grid-row: 6/8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3em;
    border-style: solid;
    border-color: #ef7f17;
    border-radius: 2em;
}

:placeholder-shown .parrafo-light {
    font-size: var(--font-30);
    font-weight: 400;
}

.parrafo-bold {
    font-size: var(--font-36);
    font-weight: 700;
    /* margin: 4em; */
}

.boton-comprar {
    grid-column: 8/13;
    grid-row: 8/9;
    display: grid;
    justify-items: center;
    padding: 0.5em;
    background-color: #ef7f17;
    border-radius: 1em;
    color: var(--light-solid);
}

.boton-comprar p {
    font-family: var(--font-alternativa);
    font-size: var(--font-18);
    font-weight: 500;
}

/* fin carrito */

/* Reseña */
.reseñas {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 4em repeat(4, 1fr) 4em;
    /* margin: 0px 60px; */
    padding: 2em 6em;
    gap: 1.5em;
    /* height: 33vw; */
    background-image: url(../img/fondo-reseña-descktop1\).jpg);
}

.reseñas img {
    width: 5em;
    border-radius: 3em;
}

.calificacion{
    padding-right: 0.5em;
}

.reseñas p {
    font-family: var(--font-alternativa);
    font-size: var(--font-16);
    font-weight: 400;
    /* margin-left: 0.5em; */
}

.titulo-reseñas {
    grid-column: 1/7;
    grid-row: 1;
    background-color: #D9D9D9;
    /* margin-top:0.5em; */
}

.reseña-1 {
    grid-column: 2/9;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-color: #ef7f17;
    border-radius: 3em;
    padding: 0.5em;
    background-color: rgb(217, 217, 217, 85%);
}

.reseña-2 {
    grid-column: 3/10;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-color: #ef7f17;
    border-radius: 3em;
    padding: 0.5em;
    background-color: rgb(217, 217, 217, 85%);
}

.reseña-3 {
    grid-column: 4/11;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-color: #ef7f17;
    border-radius: 3em;
    padding: 0.5em;
    background-color: rgb(217, 217, 217, 85%);
}

.reseña-4 {
    grid-column: 5/12;
    grid-row: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-color: #ef7f17;
    border-radius: 3em;
    padding: 0.5em;
    background-color: rgb(217, 217, 217, 85%);
}

.boton-reseñas {

    grid-column: 7/13;
    grid-row: 6;
    border-style: solid;
    border-color: #ef7f17;
    border-radius: 1em;
    background-color: #ef7f17;
    color: #FAFAFA;
    font-family: var(--font-alternativa);
    font-size: var(--font-18);
    font-weight: 500;
    
}